<link rel="stylesheet" type="text/css" href="/content/styles/debug.css"/>

<div id="application">
    <button id="randomize-names">Randomize Names</button>
    <button id="submit">Submit</button>
    <button id="clear">Clear</button>
    <button id="clear-match">Clear Match</button>
    <button id="match">Match</button>
    <textarea id="input" rows="2" resize=none></textarea>
    <table id="table">
        <thead>
            <tr>
                <td width="32px">ID</td>
                <td>Name</td>
                <td title="ID references in priority order">References</td>
                <td title="Matched Member reference with Rating level (less is better)">Match</td>
                <td width="20px" title="Matching controls"></td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script id="row-template" type="template">
    <tr id="member-row-{id}">
        <td>{id}</td>
        <td class="name"><span class="member-name">{name}</span></td>
        <td class="references">{references}</td>
        <td class="match">{match}</td>
        <td class="state" data-state="{state}">{selectionIndicator}</td>
    </tr>
</script>

<script type="text/javascript" src="/content/scripts/debug/api.js"></script>
<script type="text/javascript" src="/content/scripts/debug/debug.js"></script>